@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: antiquewhite;
}

nav{
    background-color: black;
    color: whitesmoke;
    position: sticky;
    top: 0;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;

}
nav ul li {
    padding: 0px 10px;
}

#logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;

}

#lgimg {
    height: 30px;
    width: 30px;
    padding: 0px 2px;   
}

.cent{
    height: 570px;
    background-image: url('bgimg11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.songone{
    background-color: white;
    width: 40%;
    margin: 22px 15px;
    padding: 0px 2px;
    border-radius: 34px;
    display: flex;
    justify-content: space-between;

}

.one{
    margin: 10px;
}

.bottom{
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(109, 158, 109);

}

#playline{
    width: 80%;
}

#playbar{
    display: flex;
    align-items: center;
    list-style: none;
   
}

.pi{
    height: 30px;
    width: 30px;
    margin: 3px;
    cursor: pointer;
    
}